@import 'utility.scss'; 

.button {
  padding: $base-padding $medium-spacing;
  border: none;
  border-radius: 5px;
  font-size: $base-font-size;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex; // For icon alignment, if needed
  align-items: center;
  justify-content: center;
  text-decoration: none; //removes the underline
}

.button--primary {
  background-color: $primary-color;
  color: white;

  &:hover {
    background-color: $primary-color-dark;
  }
}

.button--secondary {
  background-color: $secondary-color;
  color: white;

  &:hover {
    background-color: $secondary-color-dark;
  }
}

.button--outline {
  background-color: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.form-group {
  margin-bottom: $large-spacing;

  label {
    display: block;
    margin-bottom: $small-spacing;
    color: $text-color;
    font-size: $small-font-size;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: $small-spacing;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: $base-font-size;
    transition: border-color 0.3s ease;
    box-sizing: border-box; // Ensure padding doesn't affect width
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border-color: $primary-color;
  }

  textarea {
    min-height: 120px;
    resize: vertical;
  }

  .error-message {
    color: red;
    font-size: $small-font-size;
    margin-top: $small-spacing;
  }
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin-bottom: $medium-spacing;

    &--active {
      font-weight: bold;
    }
  }

  &__link {
    color: $link-color;
    text-decoration: none;
    font-size: $base-font-size;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.card {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: $base-padding;
  margin-bottom: $large-spacing;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: $large-font-size;
    color: $text-color;
    margin-bottom: $medium-spacing;
  }

  &__content {
    font-size: $base-font-size;
    color: $text-color;
    line-height: 1.7;
  }
}

.search-bar {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.search-button:hover {
  background-color: #0056b3;
}