@import "styles.scss";

body {
  font-family: $font-family;
  display: flex;
  background-color: $background-color;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: $extra-large;
  margin: 0 auto;
  padding: $base-padding * 2;
}

.content {
  flex-grow: 1;
  padding: $base-padding * 2;
}

.error-message{
    color: red;
}

.success-message{
    color: green;
}

