@import 'utility.scss'; 

.special-heading {
  font-size: 2rem !important; // Override base heading size
  color: $primary-color;      // Use primary color
  margin-bottom: $large-spacing;
}

.full-width-image {
  width: 100% !important;
  height: auto;
  margin-left: 0 !important;
  margin-right: 0 !important;
}